.container {
  max-width: 968px;
}

.background-1 {
	background-color: #FFF;
}

.background-2 {
	background-color: #EDE6DE;
}

.background-3 {
	background-color: #D1913E
}

.background-4 {
	background-color: #EDE6DE;
}

.banner {
	background-image: url(../img/png/banner-bg.png);
	max-width: 100%;
}

.stat-box {
	background-color: #D1913E;
	margin-right: 20px;
	max-width: 227px;
}

.stat-box:last-of-type {
	margin-right: 0;
}

img {
	max-width: 100%
}