@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
	font-family: "Besom";
	src: url("../fonts/besom.ttf");
}

/* General */

body {
	color: #433B3D;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	font-weight: 700;
}

h2 {
	color: #CC9132;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .03rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.1rem;
}

section {
	padding: 4.66667rem 0 3.5rem 0;
}

p {
	font-weight: 400;
}

a {
	color: #797979;
}

a:hover {
	color: #CC9132;
	cursor: pointer;
	text-decoration: none;
}

.info-bar a:hover,
.sitemap a:hover,
.contact-info a:hover {
	color: #433B3D;
}

a.to-full-page {
	color: #CC9132;
	font-size: 1rem;
}

a.to-full-page:after {
	content: " →";
}

ul {
	list-style: none;
	padding-left: 0;
}

address {
	color: #797979;;
	line-height: 1.9rem;
	margin-top: -.2rem;
}

blockquote {
	padding: 0 3rem 0 5rem;
	margin-bottom: 0;
}

blockquote p {
	font-size: 1.275rem;
	font-weight: 300;
	letter-spacing: .04rem;
}

cite {
	color: #CC9132;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
}

img {
	height: auto;
	max-width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}

img.favicon {
	margin-right: .6rem;
}

.container {
  max-width: 968px;
}

/* Horizontal UL styling */

.horizontal-ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 1rem 0; 
}

.horizontal-ul li {
	margin-bottom: 0;
	margin-right: .5rem;
}

/* Make item invisible */

.invisible {
	opacity: 0;
}

/* Background colors */

.background-1 {
	background-color: #FFF;
}

.background-2 {
	background-color: #EDE6DE;
}

.background-3 {
	background-color: #CC9132
}

.background-4 {
	background-color: #EDE6DE;
}


/* Info bar above the header/nav */

.info-bar {
	color: #797979;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 300;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 0 auto;
	max-width: 968px;
	padding: .25rem 0;
}

.info-bar a {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	margin-right: 1.4rem;
}

.info-bar a:last-of-type {
	margin-right: 4rem;
}

.select-container {
	position: relative;
	margin: 0;
}

.select-container:before {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: .4rem;
  right: .5rem;
  width: 10px;
  height: 10px;
}

.select-container:after {
	color: #C37900;
  content:"\f078";   
  font-family: "FontAwesome";
  font-size: 8px;
  pointer-events: none;
  position: absolute;
  top: .3333rem;
  right: .25rem;
}

#language-options {
	-webkit-appearance:none; /* Safari and Chrome */
     -moz-appearance:none; /* Firefox */
	        appearance:none;
	background-color: #EDE6DE;        
	border: none;
	color: #797979;
	cursor: pointer;
	outline: none;
  padding: 0 .8rem 0 0;
}

@media screen and (max-width: 992px) {
	
	.select-container {
	  margin-right: 1rem;
  }
}

@media screen and (max-width: 576px) {
	
  .info-bar img.favicon {
  	margin-right: 0;
  }

	.info-bar span.contact {
		display: none;
	}

	.info-bar a,
	.info-bar a:last-of-type { 
    margin-right: 1rem;
  }
}

/* Main header/nav */

.navigation {
	padding: 1.5rem;
}

.logo-container {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.logo-container img {
	margin-right: .5rem;
}

.logo-container h1 {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	color: #CC9132;
	font-family: "Besom";
	margin-bottom: 0;
	padding-top: .75rem;
}

.nav-items-container {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-right: 0;
}

.main-items {
	font-weight: 600;
	margin-right: 1rem;
	padding: .8rem 0;
	text-transform: uppercase;
}

.main-items li {
	margin-right: 1.6rem;
}

.side-items {
	color: #797979;
	font-weight: 300;
}

.side-items li {
	margin-right: 1.1rem;
}

.side-items li:last-of-type {
	margin-right: 0rem;
}

@media screen and (max-width: 992px) {

	.main-items li {
	  margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {

  .container {
  	width: 100%;
  	padding-left: 2rem;
  	padding-right: 2rem;
  }

  .navigation .logo-container,
  .nav-items-container {
		padding-left: 2.5rem;
	}

	.nav-items-container {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.side-items {
		padding: 0;
	}
}

@media screen and (max-width: 576px) {

  .navigation .logo-container,
  .nav-items-container {
		padding-left: 0;
	}

	.navigation .logo-container {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

  .nav-items-container {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding-top: 1rem;
	}

  .main-items,
	.side-items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.main-items {
		margin-right: 2rem;
		text-align: right;
	}

	.side-items {
		padding: .8rem 0;
	}

	.main-items li,
	.side-items li {
		margin-bottom: .4rem;
	}
}

@media screen and (max-width: 450px) {

  .main-items {
		margin-right: 0;
	}
}

@media screen and (max-width: 320px) {

  .logo-container {
		padding-left: 1rem;
	}

	.nav-items-container {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-left: 0rem;
	}
}

/* Welcome banner */

.banner {
	background-image: url(../img/png/banner-bg.png);
	color: #FFF;
	padding: 8rem 0;
	text-align: center;
}

.banner .container {
	padding: 0 5rem;
}

.banner h1 {
	font-size: 1.8rem;
	letter-spacing: .05rem;
	margin-bottom: 1.5rem;
}

.banner p {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .025rem;
	margin-bottom: 2.2rem;
}

.actions {
	margin: 0 auto;
}

.actions a {
	border: 1px solid #FFF;
	border-radius: 3px;
	color: inherit;
	display: inline-block;
	font-size: 0.85rem;
	font-weight: 600;
	padding: .6rem 1rem .85rem;
	text-transform: uppercase;
  width: 167px;
}

.actions a:hover {
	background-color: #FFF;
	color: #CC9132;
  text-decoration: none;
}

.actions a:first-of-type {
	margin-right: 1rem;
}

@media screen and (max-width: 992px) {
	.banner .container {
	  padding: 0;
  }
}

@media screen and (max-width: 768px) {
	.banner .container {
	  padding: 0 2.5rem;
  }
}

@media screen and (max-width: 576px) {

  .actions {
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
  }

  .actions a {
  	width: 240px;
  }

	.actions a:first-of-type {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

/* What we do section */

.video-preview {
	margin-bottom: 2rem;
}

/* Features section */

.features {
	background-image: url("../img/svg/large-bg-pineapple.svg");
  background-repeat: no-repeat;
  background-position: 57.5vw 7.5vh;
  padding-bottom: 6rem;
}

.features-ul {
	list-style: none;
	padding-top: 1.2rem;
}

.features-ul li {
	background-image: url(../img/favicons/checkmark.png);
	background-position: 0 .25rem;
	background-repeat: no-repeat;
	font-weight: 600;
	margin-bottom: 1rem;
	padding-left: 2.1rem;
}

.features-ul li:last-of-type {
	margin-bottom: 2rem;
}

/* Stats section */

.stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 1.5rem;
}

.stat-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.stat-row:first-of-type {
	margin-right: 1rem;
}

.stat-box {
	background-color: #CC9132;
	color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 2.66667rem;
	font-weight: 700;
	height: 215px;
	margin-bottom: 1rem;
	padding: 1rem 2rem;
	width: 218px;
	text-align: center;
}

.stat-row .stat-box:first-of-type {
	margin-right: 1rem;
}

.stat-icon img {
	width: 45px;
}

.stat-figure {
	margin-bottom: .3rem;
}

.stat-description {
	color: #443C3D;
	font-size: 1rem;
  line-height: 1.2rem;
}

@media screen and (max-width: 992px) {

	.stat-box {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
    height: 100px;
    padding: 0 2rem;
    width: 325px;
	}

	.stat-icon img {
		min-width: 40px;
	}

  .stat-icon,
  .stat-figure {
  	margin-right: 1rem;
  }

  .stat-description {
  	text-align: left;
  }

} 

@media screen and (max-width: 768px) {

  .stat-row {
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	    -ms-flex-direction: column;
  	        flex-direction: column;
  	width: 100%;
	}

	.stat-row:first-of-type {
		margin-right: 0;
	}

  .stat-row .stat-box:first-of-type,
	.stat-box {
		margin-right: 0;
		width: 100%;
	}

	.stat-box {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.stat-icon,
  .stat-figure {
  	margin-right: 2rem;
  }

  .stat-description {
  	font-size: 1.2rem;
  	line-height: 1.7rem;
  }

  .sm-invisible {
  	display: none;
  }

} 

@media screen and (max-width: 450px) {

  .stats
  .stat-row {
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  }

	.stat-box,
	.stat-row .stat-box:first-of-type {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 220px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		min-width: 300px;
		padding: 0 2rem 1rem;
		width: 90%;
	}

  .stat-icon {
  	margin-right: 0;
  	margin-bottom: .75rem;
  }

  .stat-figure {
  	margin-right: 0;
  }

  .stat-description {
  	text-align: center;
  }

}

/* Quote */

.quote-banner {
	background-image: url(../img/svg/small-bg-pineapple.svg);
	background-position: -1% 16%;
	background-repeat: repeat;
	padding: 3.5rem 0;
}

.quote-container {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.quote-container blockquote:before {
	content: url("../img/svg/quote.svg");
	position: absolute;
	top: 1.6rem;
	left: 2rem;
}

@media screen and (max-width: 992px) {
  .quote-container blockquote:before {
  	top: .3rem;
  }	
}

@media screen and (max-width: 768px) {
	.quote-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	.quote-container blockquote:before {
  	top: 13rem;
  	left: 4rem;
  }	

	.quote-container img {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 576px) {

  .quote-container blockquote:before {
  	content: "";
  }	

  blockquote {
  	padding: 0 1rem;
  }

  blockquote p {
  	font-size: 1rem;
  }

  cite:before {
  	content: "— "
  }

	.quote-container img {
		margin-bottom: 2rem;
	}
}

/* News section */

.news-section {
	padding: 4rem 0 7rem;
}

.article-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.blogpost-preview {
	padding-left: 1.75rem;
}

.blogpost-preview h3 {
	letter-spacing: .025rem;
	margin-bottom: 1rem;
}

.article-date {
	color: #CC9132;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: .75rem;
	font-weight: 700;
	margin-bottom: .625rem;
}

.article-date img {
	margin-right: .5rem;
}

@media screen and (max-width: 992px) {
	
  .news-section {
    padding: 4rem 0;
  }

	.article-container {
		margin-bottom: 2rem;
	}

}

@media screen and (max-width: 576px) {
	.article-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.article-container img.blogpost-preview-img {
		margin-bottom: 1rem;
	}

	.blogpost-preview {
	  padding-left: 0;
	}
}

/* Newsletter form */

.newsletter {
	padding: 2.2rem;
}

.newsletter-form {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-transform: uppercase;
}

.newsletter-form label {
	letter-spacing: .05rem;
	margin-bottom: 0;
}

.newsletter-message {
	margin-right: 2rem;
}

.newsletter-action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.newsletter-action input[type=text] {
	background: rgba(255,255,255,.5);
	border: none;
	color: #FFF;
	font-family: "Open Sans";
	font-weight: 700;
	outline: none;
	padding: .5rem;
	width: 330px;
}

.newsletter-action input[type=submit] {
	background-color: rgba(255,255,255,.95);
	border: none;
	color: #CC9132;
	cursor: pointer;
	font-size: .8rem;
	font-weight: 600;
	letter-spacing: .025rem;
	text-transform: uppercase;
	outline: none;
	padding: .75rem 1.35rem;
}

.newsletter-action input[type=submit]:hover {
	background-color: rgba(255,255,255,.85);
}

@media screen and (max-width: 992px) {

	.newsletter-message {
		margin-right: 0;
	  margin-bottom: 1rem;
  }

}

@media screen and (max-width: 576px) {
	.newsletter-form {
		font-size: 1rem;
	}

	.newsletter-action {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

  .newsletter-action input[type=text],
  .newsletter-action input[type=submit] {
  	min-width: 400px;
  	width: 100%;
  }

}

@media screen and (max-width: 450px) {
	.newsletter .container {
		padding: 0;
	}

  .newsletter-action input[type=text],
  .newsletter-action input[type=submit] {
  	min-width: 300px;
  }

}

/* Footer */

footer {
	padding: 3rem 0;
}

footer .logo-container {
	margin-bottom: 2.2rem;
}

.sitemap-header {
	display: inline-block;
	font-weight: 600;
	margin-bottom: .9rem;
	text-transform: uppercase;
}

.sitemap li {
	color: #797979;
	margin-bottom: .5rem;
}

.contact-info address {
	margin-bottom: 2rem;
}

.contact-phone {
	margin-bottom: .5rem;
}

.social-links-ul {
	padding-top: 0;
}

@media screen and (max-width: 576px) {

	footer .col-sm-4 {
    margin-bottom: 2rem;
	}

  .sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }

  .sitemap li {
  	margin-right: 1rem;
  }

  .contact-info {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  }

  .contact-info address {
  	margin-right: 2rem;
  	margin-bottom: 0rem;
  }

}

@media screen and (max-width: 400px) {
  .contact-info {
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	    -ms-flex-direction: column;
  	        flex-direction: column;
  }

   .contact-info address {
     margin-bottom: 2rem;
   }
}