body {
	color: #433B3D;
}

.container {
  max-width: 968px;
}

/* Background colors */

.background-1 {
	background-color: #FFF;
}

.background-2 {
	background-color: #EDE6DE;
}

.background-3 {
	background-color: #D1913E
}

.background-4 {
	background-color: #EDE6DE;
}


/* Info bar above the header/nav */

.info-bar {
	color: #797979;
	display: flex;
	justify-content: flex-end;
}

/* Main header/nav */

.nav-items-container {
	display: flex;
	justify-content: space-between;
}

.main-items {
	text-transform: uppercase;
}

.side-items {
	color: #797979;
}

/* Welcome banner */

.banner {
	background-image: url(../img/png/banner-bg.png);
	color: #FFF;
	text-align: center;
}

.actions a {
	border: 1px solid #FFF;
	color: inherit;
	text-transform: uppercase;
}

/* Features section */

.features-ul {
	list-style-image: url(../img/favicons/checkmark.png);
}

/* Stats section */

.stat-box {
	background-color: #D1913E;
	color: #FFF;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	margin-right: 20px;
	max-width: 227px;
	text-align: center;
}

.stat-box:last-of-type {
	margin-right: 0;
}

.stat-description {
	color: #443C3D;
	font-size: 1rem;
}

/* News section */

.article-date {
	color: #D1913E;
}

/* Newsletter form */

.newsletter-form {
	color: #FFF;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}

.newsletter-form input[type=submit] {
	text-transform: uppercase;
}

/* Sitemap */

.sitemap-header {
	text-transform: uppercase;
}

/* General */

h1, h2 {
	text-transform: uppercase;
}

h2 {
	color: #D1913E;
	font-size: 1rem;
}

a.to-full-page {
	color: #D1913E;
}

a.to-full-page:after {
	content: " →";
}

ul {
	list-style: none;
	padding-left: 0;
}

blockquote {
	padding-left: 30px;
}

blockquote:before {
	content: url("../img/favicons/quote.png");
	position: absolute;
	top: 10px;
	left: 0px;
}

cite {
	color: #D1913E;
	font-style: normal;
}

img {
	max-width: 100%
}

/* Horizontal UL styling */

.horizontal-ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 1rem 0; 
}

.horizontal-ul li {
	margin-bottom: 0;
	margin-right: .5rem;
}

